<div class="jumbotron center">
     <h1>Soon you will know the secret to real Anti-Aging</h1>
     <p>
       <%= link_to "Wonder", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Beauty", "#", class: "btn btn-primary btn-lg" %>
  </p>    
</div>